@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#B0141B, "primary");
	@include getColors(#FFDA7B, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#F8BE2A, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#1E1E1E, "text");

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Inter', Arial, Helvetica, sans-serif;
	--font-alt : 'Oranienbaum', 'Times New Roman', Times, serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;

	* {
		font-family: var(--font-base);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.header {
	display       : flex;
	align-items   : center;
	background    : var(--bg3);
	padding-top   : 14px;
	padding-bottom: 14px;

	&-logo {
		display    : flex;
		align-items: center;

		&__img {
			margin-right: 20px;
		}

		&__title {
			font-weight: 400;
			font-size  : 24px;
			font-family: var(--font-alt);
		}

		&__subtitle {
			font-weight: 400;
			font-size  : 14px;
			opacity    : .6;
		}
	}

	&-contact {
		display    : flex;
		align-items: center;

		&__img {
			min-width        : 42px;
			width        : 42px;
			height       : 42px;
			border-radius: 12px;
			margin-right : 20px;
		}

		&--address &__img {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(102, 12, 17, 0.4) 100%), #E84139;
		}

		&--phone &__img {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(102, 12, 17, 0.4) 100%), #E71B24;
		}
	}

}